* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #222;
    background-image: url("https://images.pexels.com/photos/4826567/pexels-photo-4826567.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 120%;
}
.card {
    background: #000;
    color: #fff;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    margin: 1em;
    box-shadow: 1px 1px 5px #fff, -1px -1px 5px #fff;
}
.card .search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card .search .search-bar {
    outline: none;
    border: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}
.card .search button {
    margin: 0.5em;
    border: none;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    outline: none;
    background-color: #7c7c7c2b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.card .search button:hover {
    background-color: #7c7c7c6b;
}
.city {
    margin: 20px 0;
}
.temp {
    margin: 0;
    margin-bottom: 0.5em;
}
.description {
    text-transform: capitalize;
    margin-left: 8px;
}
.flex {
    display: flex;
    align-items: center;
}
.humidity {
    margin: 10px 0;
}
.weather.loading {
    visibility: hidden;
}
.weather.loading::after {
    content: "Loading...";
    visibility: visible;
    color: #fff;
}
